{"openapi":"3.0.0","info":{"description":"<br><div><span>For more API details - <a  href=\"https://mas-ui.manage.mas.apps.699b61e4b4668359d903183a.eu1.techzone.ibm.com/maximo/oas3/api.html?includeactions=1\"  target=\"_blank\">Click here</a><br><div><span>Maximo JSON API Wikis - <a  href=\"https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/IBM%20Maximo%20Asset%20Management/page/Maximo%20JSON%20API\"  target=\"_blank\">Maximo JSON API Documents</a></span></div><br>","title":"Maximo RESTful API","version":"9.1.339"},"servers":[{"url":"https://mas-ui.manage.mas.apps.699b61e4b4668359d903183a.eu1.techzone.ibm.com/maximo/oslc"}],"security":[{"CsrfTokenHeader":[]}],"paths":{"/os/mxapisr":{"post":{"summary":"Create a new MXAPISR","requestBody":{"description":"Create a new SR","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"description":"Create a new MXAPISR","responses":{"200":{"description":"Success response for MXAPISR","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"201":{"description":"Success response for MXAPISR","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISR"],"operationId":"postosMxapisr"},"get":{"summary":"Get a (paged) collection of MXAPISR","description":"Get a (paged) collection of MXAPISR based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISR","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISR"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["SERVICEREQUEST","SERVICEREQUESTHISTORY","SIMILARSERVICEREQUESTS","VIEWSR:MY S.S. SR'S","SR:All Service Requests"]},"in":"query","name":"savedQuery","description":"Saved Query List <br>SERVICEREQUEST(View Service Request):<br>SERVICEREQUEST<br><br>SERVICEREQUESTHISTORY(View Service Request):<br>SERVICEREQUESTHISTORY<br><br>SIMILARSERVICEREQUESTS(Get similar service requests from other users at the same site.):<br>SIMILARSERVICEREQUESTS<br><br>VIEWSR:MY S.S. SR'S(Self Service Service Requests for Logged in User):<br>VIEWSR:MY S.S. SR'S<br><br>SR:All Service Requests(All Service Requests):<br>SR:All Service Requests<br>","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISR"],"operationId":"getosMxapisr"}},"/os/mxapiassetmeter":{"post":{"summary":"Create a new MXAPIASSETMETER","requestBody":{"description":"Create a new ASSETMETER","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETMETER"}}}},"description":"Create a new MXAPIASSETMETER","responses":{"200":{"description":"Success response for MXAPIASSETMETER","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETMETER"}}}},"201":{"description":"Success response for MXAPIASSETMETER","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETMETER"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETMETER"],"operationId":"postosMxapiassetmeter"},"get":{"summary":"Get a (paged) collection of MXAPIASSETMETER","description":"Get a (paged) collection of MXAPIASSETMETER based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPIASSETMETER","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPIASSETMETER"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["MOBILEASSETMETERS"]},"in":"query","name":"savedQuery","description":"Saved Query List <br>MOBILEASSETMETERS(List of active asset meter. Query should be inline with 'MOBILEASSET' query of 'MXAPIASSET' for synced data in Mobile):<br>MOBILEASSETMETERS<br>","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETMETER"],"operationId":"getosMxapiassetmeter"}},"/os/mxapiassetattribute":{"post":{"summary":"Create a new MXAPIASSETATTRIBUTE","requestBody":{"description":"Create a new ASSETATTRIBUTE","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"description":"Create a new MXAPIASSETATTRIBUTE","responses":{"200":{"description":"Success response for MXAPIASSETATTRIBUTE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"201":{"description":"Success response for MXAPIASSETATTRIBUTE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETATTRIBUTE"],"operationId":"postosMxapiassetattribute"},"get":{"summary":"Get a (paged) collection of MXAPIASSETATTRIBUTE","description":"Get a (paged) collection of MXAPIASSETATTRIBUTE based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPIASSETATTRIBUTE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPIASSETATTRIBUTE"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETATTRIBUTE"],"operationId":"getosMxapiassetattribute"}},"/os/mxapisrwatchlistdts/{id}":{"post":{"summary":"Update MXAPISRWATCHLISTDTS with id {id}","requestBody":{"description":"Update SR Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"responses":{"200":{"description":"Success response for MXAPISRWATCHLISTDTS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"201":{"description":"Success response for MXAPISRWATCHLISTDTS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLISTDTS"],"operationId":"postosMxapisrwatchlistdtsById"},"get":{"summary":"Get a MXAPISRWATCHLISTDTS","description":"Get a MXAPISRWATCHLISTDTS based on the id {id}","responses":{"200":{"description":"Success response for MXAPISRWATCHLISTDTS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLISTDTS"],"operationId":"getosMxapisrwatchlistdtsById"},"delete":{"summary":"Delete MXAPISRWATCHLISTDTS for id {id}","description":"Delete MXAPISRWATCHLISTDTS for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPISRWATCHLISTDTS"],"operationId":"deleteosMxapisrwatchlistdtsById"}},"/os/mxapisrvad":{"post":{"summary":"Create a new MXAPISRVAD","requestBody":{"description":"Create a new SERVICEADDRESS","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"description":"Create a new MXAPISRVAD","responses":{"200":{"description":"Success response for MXAPISRVAD","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"201":{"description":"Success response for MXAPISRVAD","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRVAD"],"operationId":"postosMxapisrvad"},"get":{"summary":"Get a (paged) collection of MXAPISRVAD","description":"Get a (paged) collection of MXAPISRVAD based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISRVAD","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISRVAD"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRVAD"],"operationId":"getosMxapisrvad"}},"/os/mxapisrguestdomain/{id}":{"post":{"summary":"Update MXAPISRGUESTDOMAIN with id {id}","requestBody":{"description":"Update GUESTTRUSTDOMAIN Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"responses":{"200":{"description":"Success response for MXAPISRGUESTDOMAIN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"201":{"description":"Success response for MXAPISRGUESTDOMAIN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTDOMAIN"],"operationId":"postosMxapisrguestdomainById"},"get":{"summary":"Get a MXAPISRGUESTDOMAIN","description":"Get a MXAPISRGUESTDOMAIN based on the id {id}","responses":{"200":{"description":"Success response for MXAPISRGUESTDOMAIN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTDOMAIN"],"operationId":"getosMxapisrguestdomainById"},"delete":{"summary":"Delete MXAPISRGUESTDOMAIN for id {id}","description":"Delete MXAPISRGUESTDOMAIN for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPISRGUESTDOMAIN"],"operationId":"deleteosMxapisrguestdomainById"}},"/os/mxapisrwatchlist/{id}":{"post":{"summary":"Update MXAPISRWATCHLIST with id {id}","requestBody":{"description":"Update SRWATCHLIST Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"responses":{"200":{"description":"Success response for MXAPISRWATCHLIST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"201":{"description":"Success response for MXAPISRWATCHLIST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLIST"],"operationId":"postosMxapisrwatchlistById"},"get":{"summary":"Get a MXAPISRWATCHLIST","description":"Get a MXAPISRWATCHLIST based on the id {id}","responses":{"200":{"description":"Success response for MXAPISRWATCHLIST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLIST"],"operationId":"getosMxapisrwatchlistById"},"delete":{"summary":"Delete MXAPISRWATCHLIST for id {id}","description":"Delete MXAPISRWATCHLIST for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPISRWATCHLIST"],"operationId":"deleteosMxapisrwatchlistById"}},"/os/mxapiassetstatus":{"get":{"summary":"Get a (paged) collection of MXAPIASSETSTATUS","description":"Get a (paged) collection of MXAPIASSETSTATUS based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPIASSETSTATUS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPIASSETSTATUS"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETSTATUS"],"operationId":"getosMxapiassetstatus"}},"/os/mxapisrguestpolicy":{"post":{"summary":"Create a new MXAPISRGUESTPOLICY","requestBody":{"description":"Create a new GUESTTRUSTPOLICY","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTPOLICY"}}}},"description":"Create a new MXAPISRGUESTPOLICY","responses":{"200":{"description":"Success response for MXAPISRGUESTPOLICY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTPOLICY"}}}},"201":{"description":"Success response for MXAPISRGUESTPOLICY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTPOLICY"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTPOLICY"],"operationId":"postosMxapisrguestpolicy"},"get":{"summary":"Get a (paged) collection of MXAPISRGUESTPOLICY","description":"Get a (paged) collection of MXAPISRGUESTPOLICY based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISRGUESTPOLICY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISRGUESTPOLICY"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTPOLICY"],"operationId":"getosMxapisrguestpolicy"}},"/os/mxapiasset/{id}":{"post":{"summary":"Update MXAPIASSET with id {id}","requestBody":{"description":"Update ASSET Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"responses":{"200":{"description":"Success response for MXAPIASSET","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"201":{"description":"Success response for MXAPIASSET","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE","wsmethod:createIncident","wsmethod:createChange","wsmethod:createServiceRequest","wsmethod:moveSingleAsset","wsmethod:createWorkorder","wsmethod:createProblem","wsmethod:changeStatus"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSET"],"operationId":"postosMxapiassetById"},"get":{"summary":"Get a MXAPIASSET","description":"Get a MXAPIASSET based on the id {id}","responses":{"200":{"description":"Success response for MXAPIASSET","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE","wsmethod:hasActiveRoutes","wsmethod:hasActivePM","wsmethod:hasActiveSP"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSET"],"operationId":"getosMxapiassetById"},"delete":{"summary":"Delete MXAPIASSET for id {id}","description":"Delete MXAPIASSET for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPIASSET"],"operationId":"deleteosMxapiassetById"}},"/os/mxapiassetstatus/{id}":{"get":{"summary":"Get a MXAPIASSETSTATUS","description":"Get a MXAPIASSETSTATUS based on the id {id}","responses":{"200":{"description":"Success response for MXAPIASSETSTATUS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETSTATUS"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETSTATUS"],"operationId":"getosMxapiassetstatusById"}},"/os/mxapisrguestemail":{"post":{"summary":"Create a new MXAPISRGUESTEMAIL","requestBody":{"description":"Create a new GUESTTRUSTEMAIL","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTEMAIL"}}}},"description":"Create a new MXAPISRGUESTEMAIL","responses":{"200":{"description":"Success response for MXAPISRGUESTEMAIL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTEMAIL"}}}},"201":{"description":"Success response for MXAPISRGUESTEMAIL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTEMAIL"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTEMAIL"],"operationId":"postosMxapisrguestemail"},"get":{"summary":"Get a (paged) collection of MXAPISRGUESTEMAIL","description":"Get a (paged) collection of MXAPISRGUESTEMAIL based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISRGUESTEMAIL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISRGUESTEMAIL"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTEMAIL"],"operationId":"getosMxapisrguestemail"}},"/os/mxapisrvad/{id}":{"post":{"summary":"Update MXAPISRVAD with id {id}","requestBody":{"description":"Update SERVICEADDRESS Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"responses":{"200":{"description":"Success response for MXAPISRVAD","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"201":{"description":"Success response for MXAPISRVAD","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRVAD"],"operationId":"postosMxapisrvadById"},"get":{"summary":"Get a MXAPISRVAD","description":"Get a MXAPISRVAD based on the id {id}","responses":{"200":{"description":"Success response for MXAPISRVAD","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRVAD"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRVAD"],"operationId":"getosMxapisrvadById"},"delete":{"summary":"Delete MXAPISRVAD for id {id}","description":"Delete MXAPISRVAD for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPISRVAD"],"operationId":"deleteosMxapisrvadById"}},"/os/mxapiassetspare/{id}":{"post":{"summary":"Update MXAPIASSETSPARE with id {id}","requestBody":{"description":"Update ASSET Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETSPARE"}}}},"responses":{"200":{"description":"Success response for MXAPIASSETSPARE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETSPARE"}}}},"201":{"description":"Success response for MXAPIASSETSPARE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETSPARE"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE","wsmethod:createIncident","wsmethod:createChange","wsmethod:createServiceRequest","wsmethod:moveSingleAsset","wsmethod:createWorkorder","wsmethod:createProblem","wsmethod:changeStatus"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETSPARE"],"operationId":"postosMxapiassetspareById"},"get":{"summary":"Get a MXAPIASSETSPARE","description":"Get a MXAPIASSETSPARE based on the id {id}","responses":{"200":{"description":"Success response for MXAPIASSETSPARE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETSPARE"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE","wsmethod:hasActiveRoutes","wsmethod:hasActivePM","wsmethod:hasActiveSP"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETSPARE"],"operationId":"getosMxapiassetspareById"},"delete":{"summary":"Delete MXAPIASSETSPARE for id {id}","description":"Delete MXAPIASSETSPARE for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPIASSETSPARE"],"operationId":"deleteosMxapiassetspareById"}},"/os/mxapiassetrrplan/{id}":{"post":{"summary":"Update MXAPIASSETRRPLAN with id {id}","requestBody":{"description":"Update AHASSETRRPLAN Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"responses":{"200":{"description":"Success response for MXAPIASSETRRPLAN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"201":{"description":"Success response for MXAPIASSETRRPLAN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETRRPLAN"],"operationId":"postosMxapiassetrrplanById"},"get":{"summary":"Get a MXAPIASSETRRPLAN","description":"Get a MXAPIASSETRRPLAN based on the id {id}","responses":{"200":{"description":"Success response for MXAPIASSETRRPLAN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETRRPLAN"],"operationId":"getosMxapiassetrrplanById"},"delete":{"summary":"Delete MXAPIASSETRRPLAN for id {id}","description":"Delete MXAPIASSETRRPLAN for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPIASSETRRPLAN"],"operationId":"deleteosMxapiassetrrplanById"}},"/os/mxapiassetrrplan":{"post":{"summary":"Create a new MXAPIASSETRRPLAN","requestBody":{"description":"Create a new AHASSETRRPLAN","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"description":"Create a new MXAPIASSETRRPLAN","responses":{"200":{"description":"Success response for MXAPIASSETRRPLAN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"201":{"description":"Success response for MXAPIASSETRRPLAN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETRRPLAN"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETRRPLAN"],"operationId":"postosMxapiassetrrplan"},"get":{"summary":"Get a (paged) collection of MXAPIASSETRRPLAN","description":"Get a (paged) collection of MXAPIASSETRRPLAN based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPIASSETRRPLAN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPIASSETRRPLAN"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETRRPLAN"],"operationId":"getosMxapiassetrrplan"}},"/os/mxapisr/{id}":{"post":{"summary":"Update MXAPISR with id {id}","requestBody":{"description":"Update SR Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"responses":{"200":{"description":"Success response for MXAPISR","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"201":{"description":"Success response for MXAPISR","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISR"],"operationId":"postosMxapisrById"},"get":{"summary":"Get a MXAPISR","description":"Get a MXAPISR based on the id {id}","responses":{"200":{"description":"Success response for MXAPISR","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISR"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISR"],"operationId":"getosMxapisrById"},"delete":{"summary":"Delete MXAPISR for id {id}","description":"Delete MXAPISR for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPISR"],"operationId":"deleteosMxapisrById"}},"/os/mxapisrguestdomain":{"post":{"summary":"Create a new MXAPISRGUESTDOMAIN","requestBody":{"description":"Create a new GUESTTRUSTDOMAIN","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"description":"Create a new MXAPISRGUESTDOMAIN","responses":{"200":{"description":"Success response for MXAPISRGUESTDOMAIN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"201":{"description":"Success response for MXAPISRGUESTDOMAIN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRGUESTDOMAIN"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTDOMAIN"],"operationId":"postosMxapisrguestdomain"},"get":{"summary":"Get a (paged) collection of MXAPISRGUESTDOMAIN","description":"Get a (paged) collection of MXAPISRGUESTDOMAIN based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISRGUESTDOMAIN","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISRGUESTDOMAIN"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string"},"in":"query","name":"savedQuery","description":"Saved Query ","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRGUESTDOMAIN"],"operationId":"getosMxapisrguestdomain"}},"/os/mxapisrwatchlist":{"post":{"summary":"Create a new MXAPISRWATCHLIST","requestBody":{"description":"Create a new SRWATCHLIST","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"description":"Create a new MXAPISRWATCHLIST","responses":{"200":{"description":"Success response for MXAPISRWATCHLIST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"201":{"description":"Success response for MXAPISRWATCHLIST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLIST"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLIST"],"operationId":"postosMxapisrwatchlist"},"get":{"summary":"Get a (paged) collection of MXAPISRWATCHLIST","description":"Get a (paged) collection of MXAPISRWATCHLIST based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISRWATCHLIST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISRWATCHLIST"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["MOBILESRWATCHLIST"]},"in":"query","name":"savedQuery","description":"Saved Query List <br>MOBILESRWATCHLIST(Get ID of service requests the user is watching.):<br>MOBILESRWATCHLIST<br>","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLIST"],"operationId":"getosMxapisrwatchlist"}},"/os/mxapisrwatchlistdts":{"post":{"summary":"Create a new MXAPISRWATCHLISTDTS","requestBody":{"description":"Create a new SR","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"description":"Create a new MXAPISRWATCHLISTDTS","responses":{"200":{"description":"Success response for MXAPISRWATCHLISTDTS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"201":{"description":"Success response for MXAPISRWATCHLISTDTS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPISRWATCHLISTDTS"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLISTDTS"],"operationId":"postosMxapisrwatchlistdts"},"get":{"summary":"Get a (paged) collection of MXAPISRWATCHLISTDTS","description":"Get a (paged) collection of MXAPISRWATCHLISTDTS based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPISRWATCHLISTDTS","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPISRWATCHLISTDTS"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["MOBILESRWATCHLISTDETAILS"]},"in":"query","name":"savedQuery","description":"Saved Query List <br>MOBILESRWATCHLISTDETAILS(Get details of service requests the user is watching.):<br>MOBILESRWATCHLISTDETAILS<br>","required":false},{"schema":{"type":"string","enum":["NEW","TESTSQL"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPISRWATCHLISTDTS"],"operationId":"getosMxapisrwatchlistdts"}},"/os/mxapiassetattribute/{id}":{"post":{"summary":"Update MXAPIASSETATTRIBUTE with id {id}","requestBody":{"description":"Update ASSETATTRIBUTE Object","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"responses":{"200":{"description":"Success response for MXAPIASSETATTRIBUTE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"201":{"description":"Success response for MXAPIASSETATTRIBUTE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"schema":{"type":"string","enum":["DISMISS","LOCK","DELETEIMAGE","REMOVEBOOKMARK","SNOOZEFROMQUERY","DISCARDEDIT","BOOKMARK","UNSUBSCRIBE","UPDATEIMAGE","UNLOCK","IMPORTFILE","LOGESIG","APPLYINFERENCE","REMOVEFROMMEMORY","ADDFROMDOCLIB","NOTIFY","ADDIMAGE","SETSKPINF","ACLEANINVALIDPARENT","SUBSCRIBE","LOGAPIACCESS","SNOOZE","MARKASREAD","GETINFERENCE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETATTRIBUTE"],"operationId":"postosMxapiassetattributeById"},"get":{"summary":"Get a MXAPIASSETATTRIBUTE","description":"Get a MXAPIASSETATTRIBUTE based on the id {id}","responses":{"200":{"description":"Success response for MXAPIASSETATTRIBUTE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSETATTRIBUTE"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/oslc.properties"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["EVENTS","GETLIST","VERIFYESIG","SIGOPGRANTED","COUNTNEWNOTF","STATUSLIST","ISLOCKED","LISTREPORTS","ACTIVEWFINSTANCES","TREEGRIDEXPORT","EVALCONDITION","COUNTNEW","ISESIGNEEDED","DUPLICATE","CALCULATEHEALTH","GENREPORT","ISLOCKEDBYME","NOTIFICATIONS","CANADD","CANDELETE"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSETATTRIBUTE"],"operationId":"getosMxapiassetattributeById"},"delete":{"summary":"Delete MXAPIASSETATTRIBUTE for id {id}","description":"Delete MXAPIASSETATTRIBUTE for id {id}","responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/x-allow-events"}],"tags":["MXAPIASSETATTRIBUTE"],"operationId":"deleteosMxapiassetattributeById"}},"/os/mxapiasset":{"post":{"summary":"Create a new MXAPIASSET","requestBody":{"description":"Create a new ASSET","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"description":"Create a new MXAPIASSET","responses":{"200":{"description":"Success response for MXAPIASSET","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"201":{"description":"Success response for MXAPIASSET","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RESOURCE_MXAPIASSET"}}}},"204":{"$ref":"#/components/responses/204"},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/x-method-override"},{"$ref":"#/components/parameters/x-allow-events"},{"$ref":"#/components/parameters/transactionid"},{"$ref":"#/components/parameters/properties"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/patchtype"},{"$ref":"#/components/parameters/allornothing"},{"schema":{"type":"string","enum":["CHANGETHISQUERY","SAVETHISQUERY","GETMATRIXCOUNT","SAVETOAIOPROJECT","GETAHINSIGHTSDATA","GETAVGSCOREACTION","GETNOCURVEASSET","GETMTBFCOUNT"]},"in":"query","name":"action","description":"Actions","required":false}],"tags":["MXAPIASSET"],"operationId":"postosMxapiasset"},"get":{"summary":"Get a (paged) collection of MXAPIASSET","description":"Get a (paged) collection of MXAPIASSET based on the where filter (oslc.where) and select clause (oslc.select)","responses":{"200":{"description":"Success response for MXAPIASSET","content":{"application/json":{"schema":{"$ref":"#/components/schemas/COLLECTION_MXAPIASSET"}}}},"400":{"$ref":"#/components/responses/400"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"405":{"$ref":"#/components/responses/405"},"406":{"$ref":"#/components/responses/406"},"409":{"$ref":"#/components/responses/409"},"410":{"$ref":"#/components/responses/410"},"412":{"$ref":"#/components/responses/412"},"413":{"$ref":"#/components/responses/413"},"415":{"$ref":"#/components/responses/415"}},"parameters":[{"$ref":"#/components/parameters/lean"},{"$ref":"#/components/parameters/x-public-uri"},{"$ref":"#/components/parameters/maxauth"},{"$ref":"#/components/parameters/oslc.where"},{"$ref":"#/components/parameters/oslc.select"},{"$ref":"#/components/parameters/oslc.orderBy"},{"$ref":"#/components/parameters/oslc.pageSize"},{"$ref":"#/components/parameters/oslc.paging"},{"$ref":"#/components/parameters/oslc.searchTerms"},{"$ref":"#/components/parameters/stablepaging"},{"$ref":"#/components/parameters/collectioncount"},{"$ref":"#/components/parameters/opmodeor"},{"$ref":"#/components/parameters/accept"},{"$ref":"#/components/parameters/gbcols"},{"$ref":"#/components/parameters/gbsortby"},{"$ref":"#/components/parameters/gbrange"},{"$ref":"#/components/parameters/apikey"},{"$ref":"#/components/parameters/ignorecollectionref"},{"$ref":"#/components/parameters/inlinedoc"},{"$ref":"#/components/parameters/_dropnulls"},{"schema":{"type":"string","enum":["ASSET:VEGMLOWSCOREASSETS","RELENGINEER:FAILUREBEFOREPM","RELENGINEER:HIGHPROBABILITYOFFAILURE","RELENGINEER:LOWHEALTH","RELENGINEER:MISSINGCRITICALITY","RELENGINEER:MISSINGEXPECTEDLIFE","RELENGINEER:MISSINGINSTALLDATE","RELENGINEER:MISSINGREPCOST","assetList","lookupAsset","publicAssets","ACTIVEANDNEWASSETS","AHAGINGASSET","AHALLASSETS","AHFAILUREPROBABILITY","AHHIGHCOST","AHISAMPLEQUERY","AHLOWHEALTH","AHOVERDUEMAINT","AHRISKASSETALL","AHRRPLANLIFE","ALLASSETS","ASSETWITHMETERS","ASSIGNEDWOASSETWITHMETERS","CREATEDLOCALLY","MOBILEASSET","MOBILEASSETWITHMETER","MOBILEMYASSET","SERVERSEARCH","SERVICEREQUESTASSET","SHOWROTATINGASSET","SUPASSIGNEDWOASSETWITHMETERS","VEGMVIEW","uxclassnull","uxfailurecode","assetsWithGeometryOrServiceAddr","myNotCompletedList","assetlistOfMTBFdata","topTenCostliestAssets","myCompletedList","assetsWithUnplannedDowntime","assetlistOfMissingdata","assetlistOfNoCurve","skippedSimilarObjects","failedAssetsByManufacturer","similarObjects","assetsByScoreType","assetlistWithCurve","ASSET:Bad Actor - LTD Cost","ASSET:PUMPSSTOPPED","ASSET:Potable Water Pumps","ASSET:Pumps With Sensors","ASSET:PumpsAtAlarm","ASSET:ASSETSWITHNORRPLANS","ASSET:Aging Assets","ASSET:All Assets","ASSET:Assets with Devices","ASSET:Bad Actors","ASSET:Demo Potable Water Pumps","ASSET:METERSALARMLEVEL","ASSET:ITSTOCK","ASSET:LINKED-ASSETS"]},"in":"query","name":"savedQuery","description":"Saved Query List <br>ASSET:VEGMLOWSCOREASSETS(Assets with a vegetation score of D):<br>ASSET:VEGMLOWSCOREASSETS<br><br>RELENGINEER:FAILUREBEFOREPM(Failing before PM):<br>RELENGINEER:FAILUREBEFOREPM<br><br>RELENGINEER:HIGHPROBABILITYOFFAILURE(High probability of failure):<br>RELENGINEER:HIGHPROBABILITYOFFAILURE<br><br>RELENGINEER:LOWHEALTH(Low health):<br>RELENGINEER:LOWHEALTH<br><br>RELENGINEER:MISSINGCRITICALITY(Missing criticality score):<br>RELENGINEER:MISSINGCRITICALITY<br><br>RELENGINEER:MISSINGEXPECTEDLIFE(Missing expected life):<br>RELENGINEER:MISSINGEXPECTEDLIFE<br><br>RELENGINEER:MISSINGINSTALLDATE(Missing installation date):<br>RELENGINEER:MISSINGINSTALLDATE<br><br>RELENGINEER:MISSINGREPCOST(Missing replacement cost):<br>RELENGINEER:MISSINGREPCOST<br><br>assetList(Asset List):<br>assetList<br><br>lookupAsset(lookup Asset):<br>lookupAsset&sqp:siteid={siteid}<br><br>publicAssets(Public Assets):<br>publicAssets<br><br>ACTIVEANDNEWASSETS(Get list of ACTIVE and New Assets):<br>ACTIVEANDNEWASSETS<br><br>AHAGINGASSET(Assets 15 years or older):<br>AHAGINGASSET<br><br>AHALLASSETS(All):<br>AHALLASSETS<br><br>AHFAILUREPROBABILITY(Assets with a failure probability greater than 0%):<br>AHFAILUREPROBABILITY<br><br>AHHIGHCOST(Assets with a total cost greater than 0):<br>AHHIGHCOST<br><br>AHISAMPLEQUERY(Asset Health Sample Query):<br>AHISAMPLEQUERY<br><br>AHLOWHEALTH(Assets with a health score in the lowest range):<br>AHLOWHEALTH<br><br>AHOVERDUEMAINT(Assets with overdue preventive maintenance):<br>AHOVERDUEMAINT<br><br>AHRISKASSETALL(Risk Performance Sumary Query for Assets):<br>AHRISKASSETALL<br><br>AHRRPLANLIFE(Assets to refurbish or replace or near end of life):<br>AHRRPLANLIFE<br><br>ALLASSETS(Get list of All Assets):<br>ALLASSETS<br><br>ASSETWITHMETERS(Assets from the custodian list having meters):<br>ASSETWITHMETERS<br><br>ASSIGNEDWOASSETWITHMETERS(Assets from the assigned workorders list having meters):<br>ASSIGNEDWOASSETWITHMETERS<br><br>CREATEDLOCALLY(Return newly created asset locally with in last 30 days):<br>CREATEDLOCALLY<br><br>MOBILEASSET(Returns only the active assets that have siteid = to the logged in users default site id.):<br>MOBILEASSET<br><br>MOBILEASSETWITHMETER(Mobile Assets having meters):<br>MOBILEASSETWITHMETER<br><br>MOBILEMYASSET(Returns only the active assets that have siteid = to the logged in users default site id.):<br>MOBILEMYASSET<br><br>SERVERSEARCH(Returns only the active assets that have siteid = to the logged in users default site id.):<br>SERVERSEARCH<br><br>SERVICEREQUESTASSET(Get asset list status is ACTIVE or OPERATING):<br>SERVICEREQUESTASSET<br><br>SHOWROTATINGASSET(rotating asset list excluding BROKEN,DECOMMISSIONED,INACTIVE,MISSING,SEALED):<br>SHOWROTATINGASSET<br><br>SUPASSIGNEDWOASSETWITHMETERS(Assets from the workorders list where supervisor is the user having meters):<br>SUPASSIGNEDWOASSETWITHMETERS<br><br>VEGMVIEW(Get list of vegetation corresponding to assets):<br>VEGMVIEW<br><br>uxclassnull(Assets without Classifications):<br>uxclassnull<br><br>uxfailurecode(Assets without Failure Code):<br>uxfailurecode<br><br>assetsWithGeometryOrServiceAddr:<br>assetsWithGeometryOrServiceAddr&sqp:queryName={queryName}<br><br>myNotCompletedList:<br>myNotCompletedList&sqp:queryName={queryName}&sqp:app={app}&sqp:owner={owner}<br><br>assetlistOfMTBFdata:<br>assetlistOfMTBFdata&sqp:queryName={queryName}&sqp:assettype={assettype}&sqp:withCurve={withCurve}<br><br>topTenCostliestAssets:<br>topTenCostliestAssets<br><br>myCompletedList:<br>myCompletedList&sqp:queryName={queryName}&sqp:app={app}&sqp:owner={owner}<br><br>assetsWithUnplannedDowntime:<br>assetsWithUnplannedDowntime&sqp:queryName={queryName}&sqp:startdate={startdate}&sqp:enddate={enddate}&sqp:assettype={assettype}&sqp:withCurve={withCurve}<br><br>assetlistOfMissingdata:<br>assetlistOfMissingdata&sqp:queryName={queryName}&sqp:xscore={xscore}&sqp:yscore={yscore}&sqp:scor
[...]
